.footer {
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--4x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--4x);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-color-tint--neutral-primary-a10);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--3x);
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--3x);
    background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-neutral-color--neutral-inverse);
  }
}

.footer.secondary-footer {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

.footer.accent-primary-footer {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-neutral-color--neutral-primary);
}

.footer.inverse-footer {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-inverse);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary);
}

.footer.accent-secondary-footer {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-accent-secondary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-neutral-color--neutral-primary);
}

.footer.accent-tertiary-footer {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-accent-tertiary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-on-accent-tertiary);
}

.utility-position-relative {
  position: relative;
}

.container {
  width: 100%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---container--container-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---container--container-padding-horizontal);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---container--container-padding-horizontal);
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
}

.container.full-width-container {
  width: 100%;
  max-width: none;
}

.utility-background-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

.container.large-container {
  width: 95%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---container--container-lg-width);
}

.container.small-container {
  width: 75%;
  max-width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---container--container-sm-width);
}

@media screen and (max-width: 991px) {
  .container.small-container {
    width: 90%;
  }
}

.container.sg-accent-secondary-visibility {
  display: none;
}

.sg-accent-tertiary-visibility {
  display: none;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .flex-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.flex-horizontal.flex-gap-sm {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.utility-margin-top-4rem {
  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--4x);
}

@media screen and (max-width: 767px) {
  .utility-margin-top-4rem {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--2x);
  }
}

.flex-horizontal.flex-vertical {
  flex-direction: column;
}

.flex-horizontal.flex-gap-xs {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xs-gap);
}

.flex-horizontal.flex-gap-xxs {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xxs-gap);
}

.flex-horizontal.flex-gap-lg {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--lg-gap);
}

@media screen and (max-width: 767px) {
  .flex-horizontal.flex-gap-lg {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--2x);
  }
}

.flex-horizontal.x-center {
  justify-content: center;
}

.utility-margin-bottom-3rem {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--3x);
}

@media screen and (max-width: 767px) {
  .utility-margin-bottom-3rem {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--1-5x);
  }
}

.utility-height-100 {
  height: 100%;
}

@media screen and (max-width: 991px) {
  .utility-height-100 {
    order: -9999;
  }
}

.utility-padding-all-2rem {
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--2x);
}

@media screen and (max-width: 767px) {
  .utility-padding-all-2rem {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--1x);
  }
}

.utility-text-align-center {
  text-align: center;
}

.flex-horizontal.y-center {
  align-items: center;
}

.utility-margin-bottom-1rem {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--1x);
}

.utility-margin-bottom-0 {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .utility-margin-bottom-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .utility-margin-bottom-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .utility-margin-bottom-0 {
    margin-bottom: 0px;
  }
}

.utility-padding-all-0 {
  padding: 0px;
  list-style-type: none;
}

@media screen and (max-width: 991px) {
  .utility-padding-all-0 {
    padding: 0px;
  }
}

@media screen and (max-width: 767px) {
  .utility-padding-all-0 {
    padding: 0px;
  }
}

@media screen and (max-width: 479px) {
  .utility-padding-all-0 {
    padding: 0px;
  }
}

.flex-horizontal.x-left {
  justify-content: flex-start;
}

.flex-horizontal.x-right {
  justify-content: flex-end;
  align-items: stretch;
}

.flex-horizontal.y-top {
  align-items: flex-start;
}

.flex-horizontal.y-bottom {
  align-items: flex-end;
}

.flex-horizontal.x-space-between {
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .flex-horizontal.tablet-flex-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex-horizontal.tablet-flex-vertical.tablet-y-center {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .flex-horizontal.tablet-flex-vertical.tablet-flex-x-center {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .flex-horizontal.mobile-landscape-flex-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.flex-horizontal.flex-gap-md {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--md-gap);
}

@media screen and (max-width: 767px) {
  .flex-horizontal.mobile-landscape-flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex-horizontal.tablet-flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.flex-horizontal.flex-gap-sm {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
}

.flex-horizontal.flex-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-horizontal.wrap {
  flex-wrap: wrap;
}

.h2-heading {
  margin-top: 0px;
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-margin-bottom);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---font--heading-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-letter-spacing);

  text-wrap: balance;
}

@media screen and (max-width: 991px) {
  .h2-heading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .h2-heading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .h2-heading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h2-heading--h2-size-mobile-p);
  }
}

.footer-link {
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  font-weight: 400;
  text-decoration: none;
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.footer-link:hover {
  opacity: 1;
  text-decoration: underline;
  color: color-mix(in srgb, currentColor 100%, transparent);
}

.footer-link.footer-link-on-inverse {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---nav-link--nav-link-inverse);
}

.footer-link.footer-link-on-inverse:hover {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---nav-link--nav-link-inverse);
}

.grid-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-rows: auto;
}

.grid-layout.desktop-3-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.utility-margin-all-0 {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 991px) {
  .utility-margin-all-0 {
    margin: 0px;
  }
}

@media screen and (max-width: 479px) {
  .utility-margin-all-0 {
    margin: 0px;
  }
}

.grid-layout.desktop-3-column.grid-gap-md {
  justify-content: end;
}

.grid-layout.desktop-4-column {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-layout.desktop-6-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-layout.grid-gap-xs {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xs-gap);
}

.grid-layout.grid-gap-sm {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
}

@media screen and (max-width: 767px) {
  .grid-layout.grid-gap-sm {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xs-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xs-gap);
  }
}

.grid-layout.grid-gap-md {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--md-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--md-gap);
}

@media screen and (max-width: 767px) {
  .grid-layout.grid-gap-md {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  }
}

.grid-layout.grid-gap-lg {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--lg-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--lg-gap);
}

@media screen and (max-width: 767px) {
  .grid-layout.grid-gap-lg {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  }
}

@media screen and (max-width: 991px) {
  .grid-layout.tablet-2-column {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .grid-layout.tablet-3-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .grid-layout.tablet-4-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-layout.desktop-5-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  .grid-layout.desktop-5-column.tablet-2-column {
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  }
}

@media screen and (max-width: 479px) {
  .grid-layout.desktop-5-column.tablet-2-column.mobile-landscape-1-column {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .grid-layout.tablet-5-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-layout.mobile-landscape-2-column {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-layout.mobile-landscape-3-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-layout.mobile-landscape-4-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-layout.mobile-portrait-4-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-layout.mobile-portrait-3-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-layout.mobile-portrait-2-column {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .grid-layout.tablet-1-column {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid-layout.mobile-landscape-1-column {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-layout.mobile-portrait-1-column {
    grid-template-columns: 1fr;
  }
}

.grid-layout.desktop-1-column {
  grid-template-columns: 1fr;
}

@media screen and (max-width: 991px) {
  .grid-layout.desktop-1-column {
    grid-template-columns: 1fr;
  }
}

.utility-radius-card {
  border-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---card--card-radius);
}

.utility-overflow-clip {
  overflow: clip;
}

.grid-layout.grid-gap-xl {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xl-gap);
}

@media screen and (max-width: 767px) {
  .grid-layout.grid-gap-xl {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  }
}

.grid-layout.grid-gap-xxl {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xxl-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xxl-gap);
}

@media screen and (max-width: 767px) {
  .grid-layout.grid-gap-xxl {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  }
}

.grid-layout.desktop-10-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-layout.desktop-8-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.desktop-8-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-layout.desktop-12-column {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-layout.y-center {
  align-items: center;
}

@media screen and (max-width: 991px) {
  .grid-layout.y-center {
    align-items: center;
  }
}

.grid-layout.x-center {
  justify-items: center;
}

.grid-layout.y-bottom {
  align-items: end;
}

@media screen and (max-width: 991px) {
  .grid-layout.y-bottom {
    align-items: end;
  }
}

.grid-layout.y-top {
  align-items: start;
}

@media screen and (max-width: 991px) {
  .grid-layout.y-top {
    align-items: start;
  }
}

.grid-layout.grid-gap-xxs {
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xxs-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--xxs-gap);
}

.grid-layout.x-left {
  justify-items: start;
}

.grid-layout.x-right {
  justify-items: end;
  align-items: stretch;
}

.subheading {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--2x);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-lg--lg-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-lg--lg-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-lg--lg-text-letter-spacing);
  color: color-mix(in srgb, currentColor 70%, transparent);
}

@media screen and (max-width: 991px) {
  .subheading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-lg--lg-text-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .subheading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-lg--lg-text-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .subheading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-lg--lg-text-size-mobile-p);
  }
}

.button {
  display: inline-flex;
  padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-padding-vertical) var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-padding-horizontal);
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  border: 0px solid var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-primary-border);
  border-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-radius);

  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary);
  background-image: none;

  box-shadow: none;

  transition: border-color 200ms ease,color 200ms ease,background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow 200ms ease;

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-font);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-on-accent-primary);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---base-typography--base-font-size);
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-primary-border-hover);
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary-hover);
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-primary-text);
}

.button:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary);
  box-shadow: none;
}

.button:focus {
  outline-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

@media screen and (max-width: 479px) {
  .button {
    white-space: nowrap;
  }
}

.button.secondary-button {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-secondary-border);
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

.button.secondary-button:hover {
  border-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-secondary-border-hover);
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.secondary-button:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.secondary-button.secondary-button-on-accent-secondary {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-link--link-inverse);
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.button.secondary-button.secondary-button-on-accent-secondary:hover {
  background-color: color-mix(in srgb, currentColor 40%, transparent);
}

.button.secondary-button.secondary-button-on-accent-tertiary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

.button.secondary-button.secondary-button-on-accent-tertiary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.secondary-button.secondary-button-on-accent-tertiary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.small-button {
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--0-75x);
}

.button.inverse-button {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary);
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-neutral-color--neutral-primary);
}

.button.inverse-button:hover {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary-hover);
}

.button.primary-button-on-accent-primary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-inverse);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary);
}

.button.primary-button-on-accent-primary:hover {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-color-tint--neutral-inverse-a70);
  box-shadow: none;
}

.button.primary-button-on-accent-primary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-inverse);
  box-shadow: none;
}

.button.secondary-button-on-accent-primary {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-color-tint--neutral-primary-a20);
  color: white;
}

.button.secondary-button-on-accent-primary:hover {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-color-tint--neutral-primary-a30);
}

.button.primary-button-on-inverse {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-on-accent-primary);
  -webkit-text-stroke-color: transparent;
}

.button.primary-button-on-inverse:hover {
  border-color: transparent;
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary-hover);
  box-shadow: none;
}

.button.primary-button-on-inverse:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-accent-color--accent-primary);
  box-shadow: none;
}

.button.secondary-button-on-inverse {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary) inset;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary);
}

.button.secondary-button-on-inverse:hover {
  border-color: transparent;
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary) inset;
}

.button.secondary-button-on-inverse:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary) inset;
}

.button.secondary-button-on-accent-primary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

.button.secondary-button-on-accent-primary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.secondary-button-on-accent-primary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.primary-button-on-accent-secondary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-inverse);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary);
}

.button.primary-button-on-accent-secondary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-color-tint--neutral-inverse-a70);
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

.button.primary-button-on-accent-secondary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-inverse);
  box-shadow: none;
}

.button.secondary-button-on-accent-secondary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary);
}

.button.secondary-button-on-accent-secondary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.secondary-button-on-accent-secondary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-primary) inset;
}

.button.primary-button-on-accent-tertiary {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-inverse);
  background-image: none;
  box-shadow: none;
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-inverse-primary);
}

.button.primary-button-on-accent-tertiary:hover {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-color-tint--neutral-inverse-a70);
  box-shadow: none;
}

.button.primary-button-on-accent-tertiary:active {
  background-color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---background-color--bg-inverse);
  box-shadow: none;
}

.button.secondary-button-on-accent-tertiary {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-link--link-primary);
  background-color: color-mix(in srgb, currentColor 5%, transparent);
}

.button.secondary-button-on-accent-tertiary:hover {
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

@media screen and (max-width: 991px) {
  .utility-tablet-display-none {
    display: none;
  }
}

.h6-heading {
  margin-top: 0px;
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-margin-bottom);

  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---font--heading-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-line-height);
  font-weight: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-weight);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-letter-spacing);
}

@media screen and (max-width: 991px) {
  .h6-heading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .h6-heading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .h6-heading {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---h6-heading--h6-size-mobile-p);
  }
}

.utility-text-secondary {
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.footer-grid-3-column {
  display: grid;
  margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--2x);
  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--1x);
  grid-auto-columns: 1fr;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---gap--sm-gap);
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content 1fr;

  border-top: 1px solid var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---border-color--border-secondary);
}

@media screen and (max-width: 991px) {
  .footer-grid-3-column {
    grid-template-columns: 1fr;
  }
}

.logo {
  display: flex;
  height: 2.5rem;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.7rem;

  text-decoration: none;
  color: inherit;
}

.logo:hover {
  color: color-mix(in srgb, currentColor 80%, transparent);
}

@media screen and (max-width: 479px) {
  .logo {
    color: inherit;
  }
}

.nav-logo-icon {
  height: 100%;
  flex: 0 0 auto;
  aspect-ratio: 1/1;
}

.paragraph-xl {
  margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---base-typography--base-margin-bottom);
  font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---font--body-font);
  font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-xl--xl-text-size);
  line-height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-xl--xl-text-line-height);
  letter-spacing: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-xl--xl-text-letter-spacing);
}

@media screen and (max-width: 991px) {
  .paragraph-xl {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-xl--xl-text-size-tablet);
  }
}

@media screen and (max-width: 767px) {
  .paragraph-xl {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-xl--xl-text-size-mobile-l);
  }
}

@media screen and (max-width: 479px) {
  .paragraph-xl {
    font-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-xl--xl-text-size-mobile-p);
  }
}

.utility-text-all-caps {
  text-transform: uppercase;
}

.footer-icons-group {
  display: flex;
  margin-bottom: 0rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-self: stretch;
  grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--0-5x);
  grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--0-5x);

  background-color: rgba(0,0,0,0);
}

@media screen and (max-width: 479px) {
  .footer-icons-group {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.icon-small {
  display: flex;
  width: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--1-25x);
  height: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--1-25x);
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-accent-on-primary);
}

.on-accent-icon {
  color: inherit;
}

.icon-container {
  display: inline-flex;

  box-sizing: content-box;

  padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--0-5x);
  padding-right: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--0-5x);
  padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--0-5x);
  padding-left: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---spacing--0-5x);
  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-radius);
  border-top-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-radius);
  border-bottom-left-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-radius);
  border-bottom-right-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---button--button-radius);

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-accent-on-primary);

  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.on-inverse-icon {
  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---text-color--text-accent-on-inverse);
}

.utility-screen-reader-visible-only {
  position: absolute;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  padding: 0px;

  border: 0px solid transparent;

  white-space: nowrap;
}

.footer-14-back-to-top {
  position: absolute;
  left: auto;
  top: 50%;
  right: -1%;
  bottom: auto;

  color: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1749450617223---core-neutral-color--neutral-inverse);

  transform: rotate(90deg);
}

@media screen and (max-width: 479px) {
  .footer-14-back-to-top {
    right: -6%;
  }
}

#w-node-_2188988b-c49f-a02c-a77f-8d3cf701a23e-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca675-e45ca66a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_2188988b-c49f-a02c-a77f-8d3cf701a243-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca67a-e45ca66a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca67b-e45ca66a {
}
#w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca693-e45ca66a {
}
#w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca6ab-e45ca66a {
}
#w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca6c3-e45ca66a {
}
#w-node-_4bdea307-9f75-18ca-516d-0d7f98d227fe-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca6dc-e45ca66a {
  justify-self: start;
}
#w-node-_4bdea307-9f75-18ca-516d-0d7f98d22804-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca6e2-e45ca66a {
  justify-self: end;
}
#w-node-_2a9a2ad9-1b35-135a-ae1f-e771aaadc512-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca709-e45ca66a {
  justify-self: end;
}
@media screen and (max-width: 991px) {
  #w-node-_4bdea307-9f75-18ca-516d-0d7f98d227fe-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca6dc-e45ca66a {
    justify-self: center;
  }
  #w-node-_4bdea307-9f75-18ca-516d-0d7f98d22804-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca6e2-e45ca66a {
    justify-self: center;
  }
  #w-node-_2a9a2ad9-1b35-135a-ae1f-e771aaadc512-f701a235.w-node-_425088f5-7bd2-6feb-fea5-67b4e45ca709-e45ca66a {
    justify-self: center;
  }
}